@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500;600;700;800;900&family=Karla:ital,wght@0,400;0,500;0,600;0,700;1,600;1,700&family=Mulish:wght@700&family=Philosopher:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Sofia+Sans+Extra+Condensed:wght@400;500;600;700&family=Tilt+Prism&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barriecito", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Karla", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Philosopher", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  font-family: "Tilt Prism", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

ul,
li,
input,
button,
a {
  list-style-type: none;
  text-decoration: none;
  border: none;
  outline: none;
}

header {
  position: relative;
}

.header--img {
  z-index: -1;
  position: absolute;
  right: 0;
}

.headerr--img {
  display: none;
}

@media screen and (max-width: 1495px) {
  .header--img {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -30px;
    max-width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .header--img {
    max-width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .header--img {
    max-width: 467px;
  }
}
@media screen and (max-width: 770px) {
  .header--img {
    display: none;
  }
  .headerr--img {
    display: block;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 150px;
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .headerr--img {
    display: block;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 260px;
    display: block;
  }
}
@media screen and (max-width: 450px) {
  .headerr--img {
    display: block;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 350px;
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .headerr--img {
    top: 375px;
  }
}
@media screen and (max-width: 320px) {
  .headerr--img {
    top: 350px;
  }
}
.navv {
  padding-top: 23px;
  z-index: 1;
}

.navv__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.navv__logo {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.navv__logo--img {
  width: 45px;
  height: 55px;
  object-fit: cover;
}

.navv__logo--tetx {
  color: #202020;
  font-size: 18px;
  font-weight: 600;
  line-height: 120.023%; /* 21.604px */
}

.navv_btn {
  padding: 16px 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #fc8ad0;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
}
.navv_btn:hover {
  color: #fc8ad0;
  background-color: #fff;
  border: 2px solid #fc8ad0;
}

@media screen and (max-width: 1024px) {
  .navv_btn {
    padding: 16px 36px !important;
  }
  .navv__logo--tetx {
    font-size: 16px;
  }
  .navv__logo--img {
    width: 40px;
    height: 48px;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .navv_btn {
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #fc8ad0;
    padding: 16px 32px !important;
    color: #fc8ad0;
    font-size: 18px;
    font-weight: 500;
  }
  .navv_btn:hover {
    background-color: #fc8ad0;
    color: #fff;
    border: 2px solid white;
  }
  .nav__logo--tetx {
    width: 98px;
    font-size: 16px;
  }
  .nav__logo--img {
    width: 32px;
    height: 38px;
  }
}
.hero {
  margin-top: 59px;
}

.hero__wrap {
  display: flex;
  justify-content: space-between;
}

.hero__service {
  padding-top: 100px;
}

.hero__service--text {
  margin-bottom: 32px;
  color: #202020;
  font-size: 24px;
  font-weight: 600;
}
.hero__service--text span {
  color: #fc8ad0;
  font-size: 24px;
  font-weight: 600;
}

.hero__service--title {
  color: #202020;
  font-size: 40px;
  font-weight: 600;
  max-width: 547px;
  margin-bottom: 40px;
}

.hero__service--text-2 {
  color: var(--2, #5f5f5f);
  font-size: 20px;
  font-weight: 400;
  max-width: 447px;
  margin-bottom: 40px;
}

.hero--btn {
  padding: 16px 40px;
  border-radius: 10px;
  background: #fdf18d;
  cursor: pointer;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 81px;
}

.hero__uyin {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.hero__uyin--text {
  color: var(--2, #5f5f5f);
  font-size: 24px;
  font-weight: 400;
}

.hero__uyin--img {
  max-width: 151px;
  position: absolute;
  left: 280px;
  top: 35px;
}

.hero__imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hero__imgs--img {
  max-width: 606px;
  height: 404px;
  object-fit: cover;
  z-index: 1;
}

.hero__imgs2--img {
  max-width: 505px;
  height: 349px;
  object-fit: cover;
  z-index: 2;
  position: absolute;
  left: -90px;
  bottom: -55px;
}

@media screen and (max-width: 1200px) {
  .hero {
    margin-top: 23px;
  }
  .hero__service {
    padding-top: 28px;
  }
  .hero__service--text {
    margin-bottom: 32px;
    font-size: 18px;
  }
  .hero__service--text span {
    font-size: 18px;
  }
  .hero__service--title {
    font-size: 24px;
    max-width: 320px;
    margin-bottom: 32px;
  }
  .hero__service--text-2 {
    display: none;
  }
  .hero--btn {
    margin-bottom: 37px;
    padding: 16px 32px;
    font-size: 18px;
  }
  .hero__uyin {
    padding-left: 60px;
    align-items: start;
  }
  .hero__uyin--text {
    font-size: 20px;
  }
  .hero__uyin--img {
    left: 100px;
    max-width: 117px;
    height: 62px;
  }
  .hero__imgs--img {
    max-width: 282px;
    height: 188px;
    object-fit: cover;
  }
  .hero__imgs2--img {
    width: 259px;
    height: 179px;
    top: 132px;
    left: -123px;
  }
}
@media screen and (max-width: 769px) {
  .hero {
    margin-top: 34px;
  }
  .hero .hero__service {
    padding: 0;
  }
  .hero__wrap {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .hero__service--text {
    font-size: 18px;
    margin-bottom: 32px;
  }
  .hero__service--text span {
    font-size: 18px;
  }
  .hero__service--title {
    margin-bottom: 24px;
  }
  .hero--btn {
    padding: 16px 32px;
    margin-bottom: 0;
  }
  .hero__uyin {
    display: none;
  }
  .hero__imgs {
    margin-left: 200px;
  }
  .hero__imgs--img {
    max-width: 244px;
    height: 163px;
  }
  .hero__imgs2--img {
    max-width: 220px;
    height: 152px;
    left: -60px;
    top: 100px;
  }
}
@media screen and (max-width: 505px) {
  .hero__imgs {
    margin-left: auto;
  }
}
@media screen and (max-width: 330px) {
  .hero__imgs--img {
    max-width: 220px;
    height: 143px;
    object-fit: cover;
  }
  .hero__imgs2--img {
    max-width: 200px;
    height: 132px;
    object-fit: cover;
    left: -50px;
    top: 90px;
  }
}
.result {
  margin-top: 200px;
}

.result--title {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-weight: 800;
  opacity: 1;
  text-shadow: 2px 2px 5px #85878a;
}

.result__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result__cards__card {
  display: flex;
  width: 295px;
  padding: 16px 16px 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
  height: 231px;
}

.result__cards__card--img {
  width: 138px;
  height: 138px;
  object-fit: cover;
}

.result__cards__card--text {
  color: var(--2, #5f5f5f);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 126%; /* 22.68px */
  letter-spacing: 0.36px;
}

@media screen and (max-width: 1280px) {
  .result {
    margin-top: 220px;
  }
  .result--title {
    margin-bottom: 24px;
    font-size: 40px;
  }
  .result__cards__card {
    width: 161px;
    height: 252px;
    padding: 16px 8px 39px 8px;
  }
  .result__cards__card--text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .result {
    margin-top: 240px;
  }
  .result--title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .result__cards__card {
    width: 150px;
    height: 216px;
    padding: 12px 3px 12px 2px;
  }
  .result__cards__card--text {
    font-size: 16px;
  }
  .result__cards__card--img {
    width: 121px;
    height: 108px;
    object-fit: cover;
  }
  .result__cards {
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 380px) {
  .result__cards__card {
    width: 295px;
  }
  .result__cards__card--img {
    width: 138px;
    height: 138px;
    object-fit: cover;
  }
  .result__cards__card--text {
    font-size: 18px;
  }
}
.main {
  position: relative;
  margin-top: 98px;
}

.main__none--img1 {
  position: absolute;
  left: 0;
  z-index: -1;
  display: block;
}

.main__none--img2 {
  display: none;
}

.main__none--img3 {
  display: none;
}

.main__info {
  padding-top: 157px;
  display: flex;
  justify-content: space-between;
}

.main__info__left--title {
  margin-bottom: 32px;
  width: 385px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.main__info__left--text {
  max-width: 315px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
}

.main__info__left--icons {
  display: flex;
  gap: 16px;
  padding: 12px 223px 12px 20px;
  border-radius: 10px;
  border: 2px solid #fdf18d;
  margin-bottom: 5px;
  max-width: 295px;
}

.main__info__left--icons--img {
  color: white;
}

.main__info__left--text-2 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  margin-bottom: 32px;
}

.main__info__left--btn {
  padding: 12px 40px;
  border-radius: 10px;
  background: #fdf18d;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #fc8ad0;
}
.main__info__left--btn:hover {
  color: #fdf18d;
  border: 1px solid #fdf18d;
  background: linear-gradient(237deg, #fc8ad0 57.29%, #fdf18d 100%), #d9d9d9;
}

.main__info__right--title {
  max-width: 400px;
  color: var(--, #202020);
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
}

.main__info__right--line {
  max-width: 610px;
  height: 4px;
  background: #fc8ad0;
  margin-bottom: 40px;
}

.main__info__right--text {
  color: var(--, #202020);
  font-size: 16px;
  font-weight: 400;
  max-width: 610px;
}

@media screen and (max-width: 1700px) {
  .main__none--img1 {
    width: 700px;
  }
}
@media screen and (max-width: 1460px) {
  .main__info {
    padding-top: 60px;
  }
  .main__none--img1 {
    width: 530px;
  }
}
@media screen and (max-width: 1200px) {
  .main__info {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
  .main__none--img1 {
    display: none;
  }
  .main__none--img2 {
    bottom: -40px;
    height: 440px;
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .main__info__right--title {
    max-width: 644px;
    font-size: 40px;
    margin-bottom: 9px;
  }
  .main__info__right--line {
    max-width: 644px;
  }
  .main__info__right--text {
    max-width: 704px;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .main__info__left--title {
    font-size: 40px;
    padding-top: 78px;
  }
  .main__info__left--btn {
    padding: 12px 32px;
  }
}
@media screen and (max-width: 768px) {
  .main {
    margin-top: 28px;
  }
  .main__info__right--title {
    font-size: 28px;
    max-width: 255px;
    margin-bottom: 8px;
  }
  .main__info__right--line {
    margin-bottom: 16px;
  }
  .main__info__right--text {
    max-width: 320px;
    font-size: 16px;
    margin-bottom: 19px;
  }
  .main__info__left--title {
    padding-top: 55px;
    font-size: 28px;
    max-width: 241px;
  }
  .main__info__left--text {
    max-width: 300px;
    font-size: 14px;
  }
  .main__info__left--icons {
    max-width: 250px;
    padding: 12px 246px 12px 20px;
  }
  .main__none--img2 {
    bottom: -90px;
    height: 440px;
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}
.watching {
  margin-top: 210px;
}

.watchin__wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.watching__info__icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 16px;
}

.watching__info__icons--icon {
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.watching__info__icons--text {
  color: var(--, #202020);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.watching__info__icons--title {
  color: #202020;
  font-size: 40px;
  font-weight: 400;
  width: 438px;
  margin-bottom: 16px;
}
.watching__info__icons--title span {
  width: 438px;
  color: #fc8ad0;
  font-size: 40px;
  font-weight: 600;
  display: block;
}

.watching__info__icons--text-2 {
  color: #202020;
  font-size: 20px;
  font-weight: 400;
  line-height: 130.5%; /* 26.1px */
  width: 456px;
}

.watching--img {
  max-width: 737.465px;
}

@media screen and (max-width: 1235px) {
  .watching {
    margin-top: 150px;
  }
  .watchin__wrap {
    flex-direction: column;
    gap: 52px;
  }
  .watching__info__icons--title {
    display: flex;
    gap: 1px;
    width: 100%;
    font-size: 30px;
  }
  .watching__info__icons--title span {
    font-size: 30px;
  }
  .watching__info__icons--text-2 {
    font-size: 20px;
    width: 699px;
  }
  .watching--img {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .watching {
    margin-top: 150px;
  }
  .watching .container {
    overflow: hidden;
  }
  .watching__info {
    width: 100%;
  }
  .watchin__wrap {
    flex-direction: column;
    gap: 26px;
  }
  .watching__info__icons--icon {
    width: 40px;
    height: 40px;
  }
  .watching__info__icons--text {
    font-size: 20px;
  }
  .watching__info__icons--title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
  }
  .watching__info__icons--title span {
    font-size: 24px;
  }
  .watching__info__icons--text-2 {
    font-size: 18px;
    max-width: 300px !important;
  }
  .watching--img {
    margin: auto;
    width: 285px;
  }
}
@media screen and (max-width: 355px) {
  .watching__info__icons--text-2 {
    width: 250px;
  }
  .watching--img {
    width: 220px;
    margin: 0;
    text-align: start;
  }
}
.info {
  margin-top: 80px;
}

.info__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__left {
  max-width: 505px;
  border-radius: 10px;
  background: #fc8ad0;
}

.info__left--img {
  max-width: 505px;
}

.info__texts {
  padding: 24px 24px 36px 24px;
}

.info__texts--title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}

.info__texts--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 442px;
  margin-bottom: 32px;
}

.info__texts__frame {
  max-width: 457px;
  display: flex;
  gap: 161px;
  padding: 12px 0 12px 16px;
  border-radius: 10px;
  border: 2px solid #fdf18d;
  margin-bottom: 8px;
}

.info__texts__frame--img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.info__texts__frame--img:hover {
  transition: 1s;
  transform: rotate(360deg);
}

.info__texts__frame--num {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.info__texts__group {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}

.info__texts__group--img {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.info__texts__group--img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

.info__texts__group--text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.info__texts--btn {
  max-width: 279px;
  padding: 12px 40px;
  border-radius: 10px;
  background: #fdf18d;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin: auto;
  display: block;
}

.info__right--title {
  color: #202020;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
  max-width: 610px;
}

.info__right--line {
  max-width: 610px;
  height: 4px;
  margin-bottom: 24px;
  background-color: #fc8ad0;
}

.info__right--text {
  max-width: 610px;
  color: #202020;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1235px) {
  .info {
    margin-top: 20px;
  }
  .info__wrap {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .info__right--title {
    max-width: 610px;
    font-size: 40px;
    margin-bottom: 8px;
  }
  .info__right--line {
    max-width: 583px;
    margin-bottom: 24px;
  }
  .info__right--text {
    max-width: 704px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .info__wrap {
    gap: 15px;
  }
  .info__right--title {
    max-width: 338px;
    font-size: 28px;
  }
  .info__right--text {
    max-width: 320px;
  }
  .info__left {
    max-width: 320px;
  }
  .info__left--img {
    max-width: 100%;
  }
  .info__texts {
    padding: 34px 8px 24px 16px;
  }
  .info__texts--title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .info__texts--text {
    font-size: 16px;
    max-width: 296px;
    margin-bottom: 24px;
  }
  .info__texts__frame {
    max-width: 296px;
    gap: 76px;
    padding-right: 110px;
  }
  .info__texts--btn {
    max-width: 296px;
    font-size: 20px;
  }
}
@media screen and (max-width: 370px) {
  .info__texts__frame {
    gap: 56px;
    padding-right: 0;
  }
  .info__texts--btn {
    padding: 10px 28px;
    font-size: 16px;
  }
}
.info_section {
  padding: 55px 0 88px;
  background: url(../../../img/Ellipse\ 8.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.info_section .info_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.info_section .info_header h2 {
  max-width: 600px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 126%; /* 40.32px */
  letter-spacing: 0.64px;
}
.info_section .info_header p {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 126%; /* 22.68px */
  letter-spacing: 0.36px;
  max-width: 640px;
}
.info_section .info_body {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-top: 34px;
}
.info_section .info_column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info_section .end {
  display: flex;
  justify-content: flex-end;
}
.info_section .start {
  display: flex;
  justify-content: flex-start;
}
.info_section .info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_section .info_box p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 20.16px */
  letter-spacing: 0.32px;
  max-width: 260px;
}
.info_section .info_column_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .info_section {
    padding: 55px 0 88px;
    background: url(../../../img/Ellipse\ 8.png);
    background-position: center;
  }
  .info_section .info_header {
    gap: 16px;
  }
  .info_section .info_body {
    gap: 20px;
    margin-top: 34px;
    align-items: center;
  }
  .info_section .info_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info_section .end {
    display: flex;
    justify-content: flex-end;
  }
  .info_section .start {
    display: flex;
    justify-content: flex-start;
  }
  .info_section .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 126%; /* 20.16px */
    letter-spacing: 0.32px;
    max-width: 260px;
  }
  .info_section .info_column_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_column_2 img {
    width: 160px;
  }
}
@media screen and (max-width: 790px) {
  .info_section {
    padding: 55px 0 88px;
  }
  .info_section .info_header {
    gap: 16px;
  }
  .info_section .info_header h2 {
    font-size: 24px;
    max-width: 440px;
  }
  .info_section .info_header p {
    font-size: 16px;
    max-width: 480px;
  }
  .info_section .info_body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 34px;
    align-items: center;
  }
  .info_section .info_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .info_section .end {
    display: flex;
    justify-content: flex-end;
  }
  .info_section .start {
    display: flex;
    justify-content: flex-start;
  }
  .info_section .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_box p {
    font-size: 14px;
    max-width: 200px;
  }
  .info_section .info_column_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_column_2 img {
    width: 130px;
  }
}
@media screen and (max-width: 660px) {
  .info_section {
    padding: 55px 0 88px;
  }
  .info_section .info_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .info_section .info_header h2 {
    font-size: 18px;
    max-width: 300px;
  }
  .info_section .info_header p {
    display: none;
  }
  .info_section .info_body {
    gap: 20px;
    margin-top: 34px;
    align-items: center;
  }
  .info_section .info_column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .info_section .info_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_box p {
    font-size: 14px;
    max-width: 200px;
  }
  .info_section .info_column_2 {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .info_section .info_column_2 img {
    width: 130px;
  }
}
.instruction_parent {
  margin: 130px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.instruction_parent .instruction_top h4 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 0.96px;
  opacity: 0.5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.instruction_parent .instruction_top h2 {
  color: var(--, #202020);
  font-size: 56px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
.instruction_parent .instruction_top span {
  color: #FC8AD0;
  font-weight: 800;
}
.instruction_parent .instruction_middle {
  margin: 160px 0 64px;
  position: relative;
}
.instruction_parent .instruction_middle .line {
  background: #FC8AD0;
  height: 3px;
  width: 100%;
}
.instruction_parent .instruction_middle .instruction_img {
  position: absolute;
  bottom: -30px;
}
.instruction_parent .instruction_middle .instruction_img:nth-last-child(1) {
  left: 0%;
}
.instruction_parent .instruction_middle .instruction_img:nth-last-child(2) {
  left: 30%;
}
.instruction_parent .instruction_middle .instruction_img:nth-last-child(3) {
  left: 60%;
}
.instruction_parent .instruction_middle .instruction_img::before {
  color: var(--, #202020);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.64px;
}
.instruction_parent .instruction_middle .instruction_img:nth-last-child(1)::before {
  content: "Регистрация";
  display: flex;
  flex-direction: column;
}
.instruction_parent .instruction_middle .instruction_img:nth-last-child(2)::before {
  content: "Выбор колеса";
  display: flex;
  flex-direction: column;
}
.instruction_parent .instruction_middle .instruction_img:nth-last-child(3)::before {
  content: "Установка кода";
  display: flex;
  flex-direction: column;
}
.instruction_parent .instruction_middle .instruction_img img {
  margin-top: 32px;
}
.instruction_parent .instruction_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.instruction_parent .instruction_cards .instruction_card {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.instruction_parent .instruction_cards p {
  color: var(--, #202020);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 20.16px */
  letter-spacing: 0.32px;
  padding: 0 0 32px 16px;
  max-width: 150px;
}
.instruction_parent .instruction_cards img {
  padding-bottom: 22px;
}

@media screen and (max-width: 990px) {
  .instruction_parent {
    margin: 100px 0;
  }
  .instruction_parent .instruction_top h4 {
    font-size: 44px !important;
  }
  .instruction_parent .instruction_top h2 {
    font-size: 52px !important;
  }
  .instruction_parent .instruction_middle {
    margin: 100px 0 40px;
  }
  .instruction_parent .instruction_middle .instruction_img::before {
    font-size: 24px !important;
  }
  .instruction_parent .instruction_middle .instruction_img img {
    margin-top: 22px;
  }
}
@media screen and (max-width: 790px) {
  .instruction_parent {
    margin: 100px 0;
  }
  .instruction_parent .instruction_top {
    margin-bottom: -200px;
  }
  .instruction_parent .instruction_top h4 {
    font-size: 32px !important;
  }
  .instruction_parent .instruction_top h2 {
    font-size: 40px !important;
  }
  .instruction_parent .instruction_middle {
    margin: 40px 0 40px;
    transform: rotate(90deg);
    position: relative;
    left: -40%;
    bottom: -420px;
  }
  .instruction_parent .instruction_middle .instruction_img::before {
    font-size: 24px;
    transform: rotate(270deg);
  }
  .instruction_parent .instruction_middle .instruction_img img {
    margin-top: 0px;
  }
  .instruction_parent .instruction_middle .instruction_img:nth-last-child(1) {
    left: 0%;
  }
  .instruction_parent .instruction_middle .instruction_img:nth-last-child(2) {
    left: 35%;
  }
  .instruction_parent .instruction_middle .instruction_img:nth-last-child(3) {
    left: 70%;
  }
  .instruction_parent .instruction_middle .instruction_img:nth-last-child(1)::before {
    content: "" !important;
  }
  .instruction_parent .instruction_middle .instruction_img:nth-last-child(2)::before {
    content: "" !important;
  }
  .instruction_parent .instruction_middle .instruction_img:nth-last-child(3)::before {
    content: "" !important;
  }
}
@media screen and (max-width: 640px) {
  .instruction_parent {
    margin: 100px 0;
  }
  .instruction_parent .instruction_top {
    margin-bottom: 40px;
  }
  .instruction_parent .instruction_top h4 {
    font-size: 24px;
  }
  .instruction_parent .instruction_top h2 {
    font-size: 32px !important;
    max-width: 305px;
  }
  .instruction_parent .instruction_middle {
    display: none;
  }
}
.template_section {
  margin: 120px 0 130px;
}

.template_header {
  margin-bottom: 40px;
}
.template_header h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 1.12px;
  opacity: 0.5;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.template_body {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}
.template_body .template_card {
  padding: 8px 8px 16px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
}
.template_body .template_card h4 {
  color: var(--, #202020);
  font-size: 16px;
  font-weight: 500;
  line-height: 126%; /* 20.16px */
  letter-spacing: 0.32px;
  max-width: 270px;
  margin-top: 8px;
}
.template_body .template_card p {
  color: var(--2, #5F5F5F);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 20.16px */
  letter-spacing: 0.32px;
  max-width: 270px;
  margin: 8px 0 24px;
}
.template_body .template_card button {
  border: none;
  color: #202020;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  background: #FDF18D;
  padding: 12px 40px;
}

.template_footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
.template_footer button {
  padding: 12px 40px;
  color: #202020;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  border: 2px solid #FDF18D;
  background: none;
}

@media screen and (max-width: 790px) {
  .template_section {
    margin: 100px 0;
  }
  .template_header {
    margin-bottom: 40px;
  }
  .template_header h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 660px) {
  .template_section {
    margin: 50px 0 88px;
  }
  .template_header {
    margin-bottom: 40px;
  }
  .template_header h2 {
    font-size: 32px;
  }
  .template_footer {
    margin-top: 32px;
  }
  .template_footer button {
    padding: 12px 32px;
  }
}
.gift_card {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 130px;
}
.gift_card .gift_left {
  padding: 22px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.gift_card .gift_left .gift_btn__one {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 21px;
  border-radius: 10px;
  background: #FC8AD0;
  border: none;
}
.gift_card .gift_left p {
  color: var(--, #202020);
  font-size: 24px;
  font-weight: 400;
  line-height: 137%; /* 32.88px */
  letter-spacing: 0.48px;
  max-width: 800px;
}
.gift_card .gift_left .gift_btn__two {
  color: #202020;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 12px 40px;
  border-radius: 10px;
  background: #FDF18D;
  border: none;
}
.gift_card .gift_right {
  padding: 34px 30px 30px 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FC8AD0;
}
.gift_card .gift_right button {
  display: none;
  align-items: center;
  border: none;
  background: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.gift_card .gift_right h3 {
  color: #FFF;
  font-size: 36px;
  font-weight: 600;
  line-height: 126%; /* 45.36px */
  letter-spacing: 0.72px;
}
.gift_card .gift_right span {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 126%; /* 25.2px */
  letter-spacing: 0.4px;
  text-decoration: line-through;
  margin: 5px 0 16px;
}
.gift_card .gift_right p {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 126%; /* 25.2px */
  letter-spacing: 0.4px;
  margin-top: 12px;
}

@media screen and (max-width: 790px) {
  .gift_card {
    flex-direction: column-reverse;
    margin-bottom: 80px;
  }
  .gift_card .gift_left {
    padding: 12px;
    gap: 24px;
  }
  .gift_card .gift_left .gift_btn__one {
    display: none;
  }
  .gift_card .gift_left p {
    font-size: 16px;
    max-width: 500px;
  }
  .gift_card .gift_left .gift_btn__two {
    font-size: 18px;
  }
  .gift_card .gift_right {
    padding: 8px 8px 24px 24px;
  }
  .gift_card .gift_right button {
    display: flex;
    gap: 8px;
  }
  .gift_card .gift_right .gift_row {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  .gift_card .gift_right h3 {
    font-size: 28px;
  }
  .gift_card .gift_right span {
    font-size: 16px;
  }
  .gift_card .gift_right p {
    font-size: 14px;
  }
}
.vidgets {
  max-width: 100%;
  background-image: url("../../../img/pink back img.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  font-family: sans-serif;
}

.vidget__wrapper {
  margin: 130 auto 0 auto;
}

.vidget__title {
  padding-top: 50px;
  padding-left: 100px;
  max-width: 900px;
  color: #FFF;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.8px;
}

.vidget__check__cont__cont {
  position: relative;
  left: 30%;
  display: inline-block;
}

.cont1 {
  max-width: 100%;
}

.cont1__box {
  width: 882px;
  margin: auto;
  margin-top: 34px;
}

.vidget__check__cont {
  z-index: 5;
  position: relative;
  top: -85px;
  margin: 0 auto;
  max-width: 925px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
}

.vidget__check--card1 {
  padding: 25px 20px 43px 20px;
  max-width: 925px;
}

.check--card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot__box {
  display: flex;
  gap: 67px;
}

.dot__text,
.mail__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.mail__box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mail__img--box {
  display: flex;
  gap: 8px;
}

.inner__vidget__check--card1 {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 24px 0 24px;
  margin-top: 32px;
}

.top__elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project {
  display: flex;
  gap: 16px;
}

input {
  border: none;
  max-width: 182px;
  padding: 9px 0 9px 12px;
  border-radius: 5px;
  border: 1px solid #A1A1A1;
  outline: none;
  color: #A1A1A1;
  font-size: 14px;
  font-weight: 400;
}

.main__elements {
  gap: 32px;
}

.element__line--box {
  gap: 32px;
}

.main__elements,
.element__line--box,
.relative__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.element__line--box {
  position: relative;
  top: -25px;
}

.relative__box {
  position: relative;
  top: -50px;
  gap: 16px;
}

.element--linee {
  margin-top: 32px;
}

.element--line,
.element--linee,
.element--line2 {
  display: flex;
  align-items: center;
}

.element--line {
  gap: 80px;
}

.time {
  margin-left: 70px;
}

.contact {
  margin-left: 147px;
}

.prize {
  margin-left: 155px;
}

.line__text {
  color: var(--, #202020);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.32px;
}

.element__btn {
  padding: 8px 24px;
  border-radius: 10px;
  border: 1px solid #202020;
  font-size: 16px;
  font-weight: 500;
  background-color: #FFF;
  color: #202020;
}

.element__btn__coosed {
  padding: 9px 25px;
  border-radius: 10px;
  background: #FDF18D;
  border: none;
  color: #202020;
  font-size: 16px;
  font-weight: 400;
  line-height: 126%;
  letter-spacing: 0.32px;
}

.line__choosed {
  width: 860px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
  padding: 12px 23px 12px 13px;
  position: relative;
  left: -13px;
  top: -25px;
}

.button__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.vidget__check--card2__cont {
  position: relative;
  display: inline-block;
  width: 430px;
  top: -220px;
  left: -310px;
  z-index: 99;
}

.check__card2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0 32px 32px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.card2--title {
  font-size: 20px;
  font-weight: 500;
}

.text__box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 22px;
}

.img--text {
  display: flex;
  gap: 8px;
}

.cont__box {
  position: relative;
  top: -30px;
  margin: auto;
  width: 395px;
  z-index: -1;
}

.cont__box img {
  max-width: 100%;
}

.card2--text {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 1370px) {
  .vidget__title {
    font-size: 28px;
    font-weight: 400;
    max-width: 600px;
    position: relative;
    left: -40px;
  }
  .vidget__check__cont__cont {
    left: 32%;
  }
  .cont1__box {
    width: 650px;
  }
  .vidget__check__cont {
    max-width: 690px;
    top: -65px;
  }
  .vidget__check--card1 {
    padding: 25px 20px 43px 20px;
    max-width: 925px;
  }
  .check--card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input {
    max-width: 182px;
    padding: 9px 0 9px 12px;
  }
  .main__elements,
  .element__line--box,
  .relative__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .element--line {
    gap: 20px;
  }
  .time {
    margin-left: 10px;
  }
  .contact {
    margin-left: 87px;
  }
  .prize {
    margin-left: 82px;
  }
  .line__text {
    font-size: 14px;
  }
  .line__choosed {
    width: 620px;
  }
  .vidget__check--card2__cont {
    position: relative;
    display: inline-block;
    max-width: 350px;
    top: -200px;
    left: -290px;
  }
  .check__card2 {
    padding: 28px 0 28px 28px;
  }
  .card2--title {
    font-size: 16px;
  }
  .cont__box {
    width: 320px;
    top: -25px;
  }
  .cont__box img {
    max-width: 100%;
  }
  .card2--text {
    font-size: 14px;
  }
}
@media screen and (max-width: 1066px) {
  .vidget__title {
    font-size: 24px;
    left: -10px;
  }
  .vidget__check__cont__cont {
    left: 31%;
  }
  .cont1__box {
    width: 500px;
  }
  .vidget__check__cont {
    max-width: 540px;
    top: -52px;
  }
  .dot__box {
    gap: 30px;
  }
  .dot__text,
  .mail__text {
    font-size: 14px;
  }
  .mail__box img {
    width: 20px;
  }
  .element--line {
    gap: 20px;
  }
  .time {
    margin-left: 10px;
  }
  .contact {
    margin-left: 75px;
  }
  .prize {
    margin-left: 77px;
  }
  .line__text {
    font-size: 12px;
  }
  .line__choosed {
    width: 480px;
    font-size: 10px;
  }
  .element__btn {
    padding: 5px 16px;
    font-size: 12px;
  }
  .button__box {
    gap: 10px;
  }
  .button__box img {
    width: 10px;
  }
  .element__btn__coosed {
    padding: 7px 17px;
    font-size: 12px;
  }
  .vidget__check--card2__cont {
    max-width: 300px;
    top: -182px;
    left: -240px;
  }
  .check__card2 {
    padding: 16px 0 16px 16px;
  }
  .card2--title {
    font-size: 14px;
  }
  .img--text img {
    width: 12px;
  }
  .cont__box {
    width: 280px;
    top: -22px;
  }
  .cont__box img {
    max-width: 100%;
  }
  .card2--text {
    font-size: 12px;
  }
}
@media screen and (max-width: 808px) {
  .vidget__title {
    font-size: 22px;
    left: -20px;
    max-width: 500px;
  }
  .vidget__check__cont__cont {
    position: relative;
    left: 50%;
    transform: translate(-47%);
    width: 1px solid red;
  }
  .cont1__box {
    width: 470px;
  }
  .vidget__check__cont {
    width: 500px;
    top: -45px;
  }
  .dot__box {
    gap: 20px;
  }
  .dot__text,
  .mail__text {
    font-size: 14px;
  }
  .mail__box {
    gap: 10px;
  }
  .mail--img {
    width: 13px;
  }
  .mail__box img {
    width: 20px;
  }
  .project {
    font-size: 15px;
    gap: 7px;
  }
  .element--line {
    gap: 15px;
  }
  .time {
    margin-left: 10px;
  }
  .contact {
    margin-left: 65px;
  }
  .prize {
    margin-left: 72 px;
  }
  .line__choosed {
    width: 440px;
    font-size: 10px;
  }
  .vidget__check--card2__cont {
    max-width: 300px;
    top: -135px;
    left: -35px;
  }
  .element__btn {
    padding: 6px 14px;
    font-size: 10px;
  }
  .element__btn__coosed {
    padding: 7px 15px;
    font-size: 10px;
  }
  .check__card2 {
    padding: 16px 0 16px 16px;
  }
  .card2--title {
    font-size: 14px;
  }
  .img--text img {
    width: 12px;
  }
  .cont__box {
    width: 280px;
  }
  .cont__box img {
    max-width: 100%;
  }
  .card2--text {
    font-size: 12px;
  }
}
@media screen and (max-width: 566px) {
  .vidget__title {
    font-size: 18px;
    padding-left: 50px;
  }
  .vidget__check__cont__cont {
    position: relative;
    left: 50%;
    transform: translate(-47%);
  }
  .cont1__box {
    width: 250px;
  }
  .vidget__check__cont {
    width: 272px;
    top: -25px;
  }
  .dot__box {
    gap: 10px;
  }
  .dot__text,
  .mail__text {
    font-size: 8px;
  }
  .mail__box {
    gap: 5px;
  }
  .mail--img {
    width: 10px;
  }
  .mail__box img {
    width: 10px;
  }
  .dot__box img {
    width: 4px;
  }
  .project {
    font-size: 10px;
    gap: 7px;
  }
  .top__elements {
    justify-content: space-between;
  }
  input {
    max-width: 80px;
    padding: 2px 0 2px 10px;
    font-size: 12px;
  }
  .element--line {
    gap: 8px;
  }
  .time {
    margin-left: 8px;
  }
  .contact {
    margin-left: 30px;
  }
  .prize {
    margin-left: 38px;
  }
  .line__text {
    font-size: 8px;
  }
  .line__choosed {
    width: 210px;
    font-size: 10px;
    padding: 12px 10px 12px 13px;
  }
  .element__btn {
    padding: 3px 6px;
    font-size: 8px;
  }
  .button__box {
    gap: 10px;
  }
  .button__box img {
    width: 7px;
  }
  .element__btn__coosed {
    padding: 5px 9px;
    font-size: 6px;
  }
  .tel {
    display: none;
  }
  .vidget__check--card2__cont {
    max-width: 230px;
    top: -120px;
    left: -20px;
  }
  .check__card2 {
    padding: 16px 0 16px 16px;
  }
  .card2--title {
    font-size: 12px;
  }
  .img--text img {
    width: 12px;
  }
  .cont__box {
    width: 210px;
    position: relative;
    top: -15px;
  }
  .cont__box img {
    max-width: 100%;
  }
  .card2--text {
    font-size: 9px;
  }
}

/*# sourceMappingURL=main.css.map */
