.gift_card{
    
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 130px;
    .gift_left{
        padding: 22px 40px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        .gift_btn__one{
            color: #FFF;
            font-size: 20px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 21px;
            border-radius: 10px;
            background: #FC8AD0;
            border: none;
        }
        p{
            color: var(--, #202020);
            font-size: 24px;
            font-weight: 400;
            line-height: 137%; /* 32.88px */
            letter-spacing: 0.48px;
            max-width: 800px;
        }
        .gift_btn__two{
            color: #202020;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding: 12px 40px;
            border-radius: 10px;
            background:  #FDF18D;
            border: none;
        }
    }
    .gift_right{
        padding: 34px 30px 30px 38px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #FC8AD0;
        button{
            display: none;
            align-items: center;
            border: none;
            background: none;
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
        }
        h3{
            color: #FFF;
            font-size: 36px;
            font-weight: 600;
            line-height: 126%; /* 45.36px */
            letter-spacing: 0.72px;
        }
        span{
            color: #FFF;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%; /* 25.2px */
            letter-spacing: 0.4px;
            text-decoration: line-through;
            margin: 5px 0 16px;
        }
        p{
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            line-height: 126%; /* 25.2px */
            letter-spacing: 0.4px;
            margin-top: 12px;
        }
    }
}
@media screen and (max-width:790px) {
    .gift_card{
        flex-direction: column-reverse;
        margin-bottom: 80px;
        .gift_left{
            padding: 12px;
            gap: 24px;
            .gift_btn__one{
                display: none;
            }
            p{
                font-size: 16px;
                max-width: 500px;
            }
            .gift_btn__two{
                font-size: 18px;
            }
        }
        .gift_right{
            padding: 8px 8px 24px 24px;
            button{
                display: flex;
                gap: 8px;

            }
            .gift_row{
                display: flex;
                align-items: center;
                gap: 9px;
            }
            h3{
                font-size: 28px;
            }
            span{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}