header {
  position: relative;
}
.header--img {
  z-index: -1;
  position: absolute;
  right: 0;
}
.headerr--img{
  display: none;
}
@media screen and (max-width:1495px){
  .header--img {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -30px;
    max-width: 60%;
  }
}
@media screen and (max-width:1200px){
  .header--img{

    max-width:600px;
  }
}
@media screen and (max-width:900px){
  .header--img{

    max-width:467px;
  }
}
@media screen and (max-width:770px) {
  .header--img{
      display: none;
  }
  .headerr--img{
    display: block;
    width: 100%;
    z-index: -1;
    position:absolute;
    top: 150px;
    display: block;
  }
}
@media screen and (max-width:576px) {

  .headerr--img{
    display: block;
    width: 100%;
    z-index: -1;
    position:absolute;
    top: 260px;
    display: block;
  }
}
@media screen and (max-width:450px) {
  .headerr--img{
    display: block;
    width: 100%;
    z-index: -1;
    position:absolute;
    top: 350px;
    display: block;
  }
}
@media screen and (max-width:360px) {
  .headerr--img{
    top: 375px;
  }
}
@media screen and (max-width:320px) {
  .headerr--img{
    top: 350px;
  }
}