.hero {
  margin-top: 59px;
}
.hero__wrap {
  display: flex;
  justify-content: space-between;
//   background-color: aqua;
}
.hero__service {
  padding-top: 100px;
  // background-color: #fc8ad0;
}
.hero__service--text {
  margin-bottom: 32px;
  color: #202020;
  font-size: 24px;
  font-weight: 600;
  span {
    color: #fc8ad0;
    font-size: 24px;
    font-weight: 600;
  }
}
.hero__service--title {
  color: #202020;
  font-size: 40px;
  font-weight: 600;
  max-width: 547px;
  margin-bottom: 40px;
}
.hero__service--text-2 {
  color: var(--2, #5f5f5f);
  font-size: 20px;
  font-weight: 400;
  max-width: 447px;
  margin-bottom: 40px;
}
.hero--btn {
  padding: 16px 40px;
  border-radius: 10px;
  background: #fdf18d;
  cursor: pointer;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 81px;
}
.hero__uyin {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.hero__uyin--text {
  color: var(--2, #5f5f5f);
  font-size: 24px;
  font-weight: 400;
}
.hero__uyin--img {
  max-width: 151px;
  position: absolute;
  left: 280px;
  top: 35px;
}
.hero__imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.hero__imgs--img {
  max-width: 606px;
  height: 404px;
  object-fit: cover;
  z-index: 1;
}
.hero__imgs2--img {
  max-width: 505px;
  height: 349px;
  object-fit: cover;
  z-index: 2;
  position: absolute;
  left: -90px;
  bottom: -55px;
}
@media screen and (max-width: 1200px) {
  .hero {
    margin-top: 23px;
  }
  .hero__service {
    padding-top: 28px;
  }
  .hero__service--text {
    margin-bottom: 32px;
    font-size: 18px;
    span {
      font-size: 18px;
    }
  }
  .hero__service--title {
    font-size: 24px;
    max-width: 320px;
    margin-bottom: 32px;
  }
  .hero__service--text-2 {
    display: none;
  }
  .hero--btn {
    margin-bottom: 37px;
    padding: 16px 32px;
    font-size: 18px;
  }
  .hero__uyin {
    padding-left: 60px;
    align-items: start;
  }
  .hero__uyin--text {
    font-size: 20px;
  }
  .hero__uyin--img {
    left: 100px;
    max-width: 117px;
    height: 62px;
  }
  .hero__imgs--img {
    max-width: 282px;
    height: 188px;
    object-fit: cover;
  }
  .hero__imgs2--img {
    width: 259px;
    height: 179px;
    top: 132px;
    left:  -123px;
  }
}
@media screen and (max-width:769px) {
    .hero{
        margin-top: 34px;
        .hero__service{
            padding: 0;
        }

    }
    .hero__wrap{
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }
    .hero__service--text{
        font-size: 18px;
        margin-bottom: 32px;
        span{
            font-size: 18px;
        }
    }
    .hero__service--title{
        margin-bottom: 24px;
    }
    .hero--btn{
        padding: 16px 32px;
        margin-bottom: 0;
    }
    .hero__uyin{
        display: none;
    }
    .hero__imgs{
        margin-left: 200px;
    }
    .hero__imgs--img{
        max-width: 244px;
        height: 163px;
    }
    .hero__imgs2--img{
        max-width: 220px;
        height: 152px;
        left: -60px;
        top: 100px;
    }
}
@media screen and (max-width:505px){
    .hero__imgs{
        margin-left: auto;
    }
}
@media screen and (max-width:330px) {
    .hero__imgs--img{
        max-width: 220px;
        height: 143px;
        object-fit: cover;
    } 
    .hero__imgs2--img{
        max-width:200px;
        height: 132px;
        object-fit: cover;
        left: -50px;
        top: 90px;
    }
}