.info {
  margin-top: 80px;
}
.info__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info__left {
  max-width: 505px;
  border-radius: 10px;
  background: #fc8ad0;
}
.info__left--img {
  max-width: 505px;
}
.info__texts {
  padding: 24px 24px 36px 24px;
}
.info__texts--title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}
.info__texts--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  max-width: 442px;
  margin-bottom: 32px;
}
.info__texts__frame {
  max-width: 457px;
  display: flex;
  gap: 161px;
  padding: 12px 0 12px 16px;
  border-radius: 10px;
  border: 2px solid #fdf18d;
  margin-bottom: 8px;
}
.info__texts__frame--img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  &:hover {
    transition: 1s;
    transform: rotate(360deg);
  }
}
.info__texts__frame--num {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.info__texts__group {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}
.info__texts__group--img {
  width: 12px;
  height: 12px;
  cursor: pointer;
  &:hover {
    transform: rotate(360deg);
    transition: 1s;
  }
}
.info__texts__group--text {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.info__texts--btn {
  max-width: 279px;
  padding: 12px 40px;
  border-radius: 10px;
  background: #fdf18d;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin: auto;
  display: block;
  //   &:hover{
  //     background-color: #FC8AD0;
  //     border: 2px solid #fdf18d;
  //     color: #fdf18d;
  //   }
}
.info__right--title {
  color: #202020;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
  max-width: 610px;
}
.info__right--line {
  max-width: 610px;
  height: 4px;
  margin-bottom: 24px;
  background-color: #fc8ad0;
}
.info__right--text {
  max-width: 610px;
  color: #202020;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 1235px) {
  .info {
    margin-top: 20px;
  }
  .info__wrap {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .info__right--title {
    max-width: 610px;
    font-size: 40px;
    margin-bottom: 8px;
  }
  .info__right--line {
    max-width: 583px;
    margin-bottom: 24px;
}
  .info__right--text{
    max-width: 704px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
    .info__wrap {
      gap: 15px;
    }
    .info__right--title {
      max-width: 338px;
      font-size: 28px;
    }
    .info__right--text{
      max-width: 320px;
    }
    .info__left{
        max-width: 320px;

    }
    .info__left--img{
        max-width: 100%;
    }
    .info__texts{
        padding: 34px 8px 24px 16px;
    }
    .info__texts--title{
        font-size: 24px;
        margin-bottom: 24px;
    }
    .info__texts--text{
        font-size: 16px;
        max-width: 296px;
        margin-bottom: 24px;
    }
    .info__texts__frame{
        max-width: 296px;
        gap: 76px;
        padding-right: 110px;
    }
    .info__texts--btn{
        max-width: 296px;
        font-size: 20px;
    }
  }
  @media screen and (max-width:370px) {
    .info__texts__frame{
        gap: 56px;
        padding-right: 0;
    }
    .info__texts--btn{
        padding: 10px 28px;
        font-size: 16px;
    }
  }