.instruction_parent{
    margin: 130px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .instruction_top{
        h4{
            color: #fff;
            font-size: 48px;
            font-weight: 800;
            letter-spacing: 0.96px;
            opacity: 0.5;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
        }
        h2{
            color: var(--, #202020);
            font-size: 56px;
            font-weight: 400;
            letter-spacing: 1.12px;
        }
        span{
            color: #FC8AD0;
            font-weight: 800;
        }
    }
    .instruction_middle{
        margin: 160px 0 64px;
        position: relative;
        .line{
            background: #FC8AD0;
            height: 3px;
            width: 100%;
        }
        .instruction_img{
            
            position: absolute;
            bottom: -30px;
        }
        .instruction_img:nth-last-child(1){
            left: 0%;
   
        }
        .instruction_img:nth-last-child(2){
            left: 30%;
        }
        .instruction_img:nth-last-child(3){
            left: 60%;
        }
        .instruction_img::before{
            color: var(--, #202020);
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 0.64px;
            
        }
        .instruction_img:nth-last-child(1)::before{
            content: "Регистрация";
            display: flex;
            flex-direction: column;
            
            
        }
        .instruction_img:nth-last-child(2)::before{
            content: "Выбор колеса";
            display: flex;
            flex-direction: column;
        }
        .instruction_img:nth-last-child(3)::before{
            content: "Установка кода";
            display: flex;
            flex-direction: column;
        }
        .instruction_img img{
            margin-top: 32px;
        }
    }
    .instruction_cards{
        display: flex;
        justify-content: center;
        // justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;
        .instruction_card{
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
            display: flex;
            align-items: flex-end;
            overflow: hidden;
        }
        p{
            color: var(--, #202020);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%; /* 20.16px */
            letter-spacing: 0.32px;
            padding: 0 0 32px 16px;
            max-width: 150px;
        }
        img{
            padding-bottom: 22px;
        }
    }
}

@media screen and (max-width:990px) {
    .instruction_parent{
        margin: 100px 0;
        .instruction_top{
            h4{
                font-size: 44px !important;
            }
            h2{
                font-size: 52px !important;
            }
        }
        .instruction_middle{
            margin: 100px 0 40px;
            .instruction_img::before{
                font-size: 24px !important;
            }
            .instruction_img img{
                margin-top: 22px;
            }
        }
        
    }
}
@media screen and (max-width:790px) {
    .instruction_parent{
        margin: 100px 0;
        .instruction_top{
            margin-bottom: -200px;
            h4{
                font-size: 32px !important;
            }
            h2{
                font-size: 40px !important;
                // max-width: 365px;
            }
        }
        .instruction_middle{
            margin: 40px 0 40px;
            transform: rotate(90deg);
            position: relative;
            left: -40% ;
            bottom: -420px ;
            .instruction_img::before{
                font-size: 24px;
                transform: rotate(270deg);
                // margin: 100px;
            }
            .instruction_img img{
                margin-top: 0px;
            }
            .instruction_img:nth-last-child(1){
                left: 0%;
       
            }
            .instruction_img:nth-last-child(2){
                left: 35%;
            }
            .instruction_img:nth-last-child(3){
                left: 70%;
            }
            .instruction_img:nth-last-child(1)::before{
                content: "" !important;
            }
            .instruction_img:nth-last-child(2)::before{
                content: "" !important;
            }
            .instruction_img:nth-last-child(3)::before{
                content: "" !important;
            }
        }
        
        
    }
}
@media screen and (max-width:640px) {
    .instruction_parent{
        margin: 100px 0;
        .instruction_top{
            margin-bottom: 40px;
            h4{
                font-size: 24px;
            }
            h2{
                font-size: 32px !important;
                max-width: 305px;
            }
        }
        .instruction_middle{
            display: none;
        }
        
        
    }
}