.main {
  position: relative;
  margin-top: 98px;
}
.main__none--img1 {
  position: absolute;
  left: 0;
  z-index: -1;
  display: block;
}
.main__none--img2 {
  display: none;
}
.main__none--img3 {
  display: none;
}
.main__info {
  padding-top: 157px;
  display: flex;
  justify-content: space-between;
}

.main__info__left--title {
  margin-bottom: 32px;
  width: 385px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.main__info__left--text {
    max-width: 315px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
}
.main__info__left--icons {
  display: flex;
  gap: 16px;
  padding: 12px 223px 12px 20px;
  border-radius: 10px;
  border: 2px solid #fdf18d;
  margin-bottom: 5px;
  max-width: 295px;
}
.main__info__left--icons--img {
  color: white;
}
.main__info__left--text-2 {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.24px;
  margin-bottom: 32px;
}
.main__info__left--btn {
  padding: 12px 40px;
  border-radius: 10px;
  background: #fdf18d;
  color: #202020;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #fc8ad0;
  &:hover {
    color: #fdf18d;
    border: 1px solid #fdf18d;
    background: linear-gradient(237deg, #fc8ad0 57.29%, #fdf18d 100%), #d9d9d9;
  }
}
.main__info__right--title {
    max-width: 400px;
  color: var(--, #202020);
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
}
.main__info__right--line {
  max-width: 610px;
  height: 4px;
  background: #fc8ad0;
  margin-bottom: 40px;
}
.main__info__right--text {
    color: var(--, #202020);
font-size: 16px;
font-weight: 400;
max-width: 610px;
}
@media screen and (max-width:1700px) {
    .main__none--img1 {
     width: 700px;
      }  
}
@media screen and (max-width:1460px) {
    .main__info{
        padding-top:60px ;
    }
    .main__none--img1 {
     width: 530px;
    }  
}
@media screen and (max-width:1200px){
    .main__info{
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
    }
    .main__none--img1{
        display: none;
    }
    .main__none--img2{
        bottom: -40px;
        height: 440px;
        display: block;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    .main__info__right--title{
        max-width: 644px;
        font-size: 40px;
        margin-bottom: 9px;
    }
    .main__info__right--line{
        max-width: 644px;
    }
    .main__info__right--text{
        max-width: 704px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    .main__info__left--title{
        font-size: 40px;
        padding-top: 78px;
    }
    .main__info__left--btn{
        padding: 12px 32px;
    }
}
@media screen and (max-width:768px){
    .main{
        margin-top:28px ;
    }
    .main__info__right--title{
        font-size: 28px;
        max-width: 255px;
        margin-bottom: 8px;
    }
    .main__info__right--line{
        margin-bottom: 16px;
    }
    .main__info__right--text{
        max-width: 320px;
        font-size: 16px;
        margin-bottom: 19px;
    }
    .main__info__left--title{
        padding-top: 55px;
        font-size: 28px;
        max-width: 241px;
    }
    .main__info__left--text{
        max-width: 300px;
        font-size: 14px;
    }
    .main__info__left--icons{
        max-width: 250px;
        padding: 12px 246px 12px 20px;
    }
    .main__none--img2{
        bottom: -90px;
        height: 440px;
        display: block;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

}