.navv {
  padding-top: 23px;
  z-index: 1;
}
.navv__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}
.navv__logo {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}
.navv__logo--img {
  width: 45px;
  height: 55px;
  object-fit: cover;
}
.navv__logo--tetx {
  color: #202020;
  font-size: 18px;
  font-weight: 600;
  line-height: 120.023%; /* 21.604px */
}
.navv_btn {
  padding: 16px 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #fc8ad0;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  &:hover {
    color: #fc8ad0;
    background-color: #fff;
    border: 2px solid #fc8ad0;
  }
}
@media screen and (max-width: 1024px) {
  .navv_btn {
    padding: 16px 36px !important;
  }
  .navv__logo--tetx {
    font-size: 16px;
  }
  .navv__logo--img {
    width: 40px;
    height: 48px;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .navv_btn {
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid  #fc8ad0;
    padding: 16px 32px !important;
    color:  #fc8ad0;
    font-size: 18px;
    font-weight: 500;
    &:hover{
        background-color:#fc8ad0 ;
        color: #fff;
        border: 2px solid white;
    }
  }

  .nav__logo--tetx {
    width: 98px;
    font-size: 16px;
  }
  .nav__logo--img {
    width: 32px;
    height: 38px;
  }
}
