.result {
  margin-top: 200px;
}
.result--title {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-size: 56px;
  font-weight: 800;
  opacity: 1;
  text-shadow: 2px 2px 5px #85878a;
}
.result__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result__cards__card {
  display: flex;
  width: 295px;
  padding: 16px 16px 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
  height: 231px;
}
.result__cards__card--img {
  width: 138px;
  height: 138px;
  object-fit: cover;
}
.result__cards__card--text {
  color: var(--2, #5f5f5f);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 126%; /* 22.68px */
  letter-spacing: 0.36px;
}
@media screen and (max-width: 1280px) {
  .result {
    margin-top: 220px;
  }
  .result--title {
    margin-bottom: 24px;
    font-size: 40px;
  }
  .result__cards__card {
    width: 161px;
    height: 252px;
    padding: 16px 8px 39px 8px;
  }
  .result__cards__card--text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .result {
    margin-top: 240px;
  }
  .result--title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .result__cards__card {
    width: 150px;
    height: 216px;
    padding: 12px 3px 12px 2px;
  }
  .result__cards__card--text {
    font-size: 16px;
  }
  .result__cards__card--img {
    width: 121px;
    height: 108px;
    object-fit: cover;
  }
  .result__cards {
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 380px) {
  .result__cards__card {
    width: 295px;
  }
  .result__cards__card--img {
    width: 138px;
    height: 138px;
    object-fit: cover;
  }
  .result__cards__card--text {
    font-size: 18px;
  }
}
