.info_section{
    padding: 55px 0 88px;
    background: url(../../../img/Ellipse\ 8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .info_header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        h2{
            max-width: 600px;
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 126%; /* 40.32px */
            letter-spacing: 0.64px;
        }
        p{
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 126%; /* 22.68px */
            letter-spacing: 0.36px;
            max-width: 640px;
        }
    }
    .info_body{
        display: flex;
        justify-content: space-between;
        gap: 45px;
        margin-top: 34px;
    }
    .info_column{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .end{
        display: flex;
        justify-content: flex-end;
    }
    .start{
        display: flex;
        justify-content: flex-start;
    }
    .info_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%; /* 20.16px */
            letter-spacing: 0.32px;
            max-width: 260px;
        }
    }
    .info_column_2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:990px){
    .info_section{
        padding: 55px 0 88px;
        background: url(../../../img/Ellipse\ 8.png);
        background-position: center;
        .info_header{
            gap: 16px;
        }
        .info_body{
            gap: 20px;
            margin-top: 34px;
            align-items: center;
        }
        .info_column{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .end{
            display: flex;
            justify-content: flex-end;
        }
        .start{
            display: flex;
            justify-content: flex-start;
        }
        .info_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 126%; /* 20.16px */
                letter-spacing: 0.32px;
                max-width: 260px;
            }
        }
        .info_column_2{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 160px;
            }
        }
    } 
}
@media screen and (max-width:790px){
    .info_section{
        padding: 55px 0 88px;
        .info_header{
            gap: 16px;
            h2{
                font-size: 24px;
                max-width: 440px;
            }
            p{
                font-size: 16px;
                max-width: 480px;
            }
        }
        .info_body{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 34px;
            align-items: center;
        }
        .info_column{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .end{
            display: flex;
            justify-content: flex-end;
        }
        .start{
            display: flex;
            justify-content: flex-start;
        }
        .info_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 14px;
                max-width: 200px;
            }
        }
        .info_column_2{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 130px;
            }
        }
    } 
}
@media screen and (max-width:660px){
    .info_section{
        padding: 55px 0 88px;
        .info_header{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            h2{
                font-size: 18px;
                max-width: 300px;
            }
            p{
                display: none;
            }
        }
        .info_body{
            gap: 20px;
            margin-top: 34px;
            align-items: center;
        }
        .info_column{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        .info_box{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                font-size: 14px;
                max-width: 200px;
            }
        }
        .info_column_2{
            display: none;
            flex-direction: column;
            align-items: center;
            img{
                width: 130px;
            }
        }
    } 
}