.template_section{
    margin: 120px 0 130px;
}
.template_header{
    margin-bottom: 40px;
    h2{
        color: #fff;
        font-size: 56px;
        font-weight: 800;
        letter-spacing: 1.12px;
        opacity: 0.5;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
    }
}

.template_body{
    display: flex;
    overflow-x: scroll;
    
    gap: 20px;
    .template_card{
        padding: 8px 8px 16px;
        display: flex;
        flex-direction: column;
        
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
        h4{
            color: var(--, #202020);
            font-size: 16px;
            font-weight: 500;
            line-height: 126%; /* 20.16px */
            letter-spacing: 0.32px;
            max-width: 270px;
            margin-top: 8px;
        }
        p{
            color: var(--2, #5F5F5F);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 126%; /* 20.16px */
            letter-spacing: 0.32px;
            max-width: 270px;
            margin: 8px 0 24px;
        }
        button{
            border: none;
            color: #202020;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 10px;
            background:  #FDF18D;
            padding: 12px 40px;
            
        }
    }
    
}
.template_footer{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    button{
        padding: 12px 40px;
        color: #202020;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 10px;
        border: 2px solid #FDF18D;
        background: none;
    }
}
@media screen and (max-width:790px){
    .template_section{
        margin: 100px 0;
    }
    .template_header{
        margin-bottom: 40px;
        h2{
            font-size: 40px;
        }
    } 
}
@media screen and (max-width:660px){
    .template_section{
        margin: 50px 0 88px;
    }
    .template_header{
        margin-bottom: 40px;
        h2{
            font-size: 32px;
        }
    } 
    .template_footer{
        margin-top: 32px;
        button{
            padding: 12px 32px;
        }
    }
}