.vidgets {
    max-width: 100%;
    background-image: url("../../../img/pink\ back\ img.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    font-family: sans-serif;
}

.vidget__wrapper {
    margin: 130 auto 0 auto;

}

.vidget__title {
    padding-top: 50px;
    padding-left: 100px;
    max-width: 900px;
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.vidget__check__cont__cont {
    position: relative;
    left: 30%;
    display: inline-block;
}

.cont1 {
    max-width: 100%;
}

.cont1__box {
    width: 882px;
    margin: auto;
    margin-top: 34px;
}

.vidget__check__cont {
    z-index: 5;
    position: relative;
    top: -85px;
    margin: 0 auto;
    max-width: 925px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
}


.vidget__check--card1 {
    padding: 25px 20px 43px 20px;
    max-width: 925px;
}

.check--card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot__box {
    display: flex;
    gap: 67px;
}

.dot__text,
.mail__text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.mail__box {
    display: flex;
    align-items: center;
    gap: 24px;

}

.mail__img--box {
    display: flex;
    gap: 8px;
}


.inner__vidget__check--card1 {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px 24px 0 24px;
    margin-top: 32px;
}

.top__elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project {
    display: flex;
    gap: 16px;
}

input {
    border: none;
    max-width: 182px;
    padding: 9px 0 9px 12px;
    border-radius: 5px;
    border: 1px solid #A1A1A1;
    outline: none;
    color: #A1A1A1;
    font-size: 14px;
    font-weight: 400;
}

.main__elements {
    gap: 32px;
}

.element__line--box {
    gap: 32px;
}

.main__elements,
.element__line--box,
.relative__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.element__line--box {
    position: relative;
    top: -25px;
}

.relative__box {
    position: relative;
    top: -50px;
    gap: 16px;
}

.element--linee {
    margin-top: 32px;
}

.element--line,
.element--linee,
.element--line2 {
    display: flex;
    align-items: center;
}

.element--line {
    gap: 80px;
}

.time {
    margin-left: 70px;
}

.contact {
    margin-left: 147px;
}

.prize {
    margin-left: 155px;
}

.line__text {
    color: var(--, #202020);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.element__btn {
    padding: 8px 24px;
    border-radius: 10px;
    border: 1px solid #202020;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFF;
    color: #202020;

}

.element__btn__coosed {
    padding: 9px 25px;
    border-radius: 10px;
    background: #FDF18D;
    border: none;
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    line-height: 126%;
    letter-spacing: 0.32px;
}

.line__choosed {
    width: 860px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(50, 42, 50, 0.25);
    padding: 12px 23px 12px 13px;
    position: relative;
    left: -13px;
    top: -25px;
}

.button__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.vidget__check--card2__cont {
    position: relative;
    display: inline-block;
    width: 430px;
    top: -220px;
    left: -310px;
    z-index: 99;

}

.check__card2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 0 32px 32px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 4;
}

.card2--title {
    font-size: 20px;
    font-weight: 500;
}

.text__box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 22px;
}

.img--text {
    display: flex;
    gap: 8px;
}

.cont__box {
    position: relative;
    top: -30px;
    margin: auto;
    width: 395px;
    z-index: -1;
}

.cont__box img {
    max-width: 100%;
}

.card2--text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 1370px) {


    .vidget__title {
        font-size: 28px;
        font-weight: 400;
        max-width: 600px;
        position: relative;
        left: -40px;
    }

    .vidget__check__cont__cont {
        left: 32%;
    }

    .cont1__box {
        width: 650px;

    }


    .vidget__check__cont {
        max-width: 690px;
        top: -65px;
    }


    .vidget__check--card1 {
        padding: 25px 20px 43px 20px;
        max-width: 925px;
    }

    .check--card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    input {
        max-width: 182px;
        padding: 9px 0 9px 12px;
    }


    .main__elements,
    .element__line--box,
    .relative__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }



    .element--line {
        gap: 20px;
    }

    .time {
        margin-left: 10px;
    }

    .contact {
        margin-left: 87px;
    }

    .prize {
        margin-left: 82px;
    }

    .line__text {
        font-size: 14px;

    }

    // .element__btn {
    //     padding: 5px 22px;
    //     font-size: 14px;
    // }

    // .element__btn__coosed {
    //     padding: 7px 23px;
    //     font-size: 14px;

    // }
    .line__choosed {
        width: 620px;
    }


    .vidget__check--card2__cont {
        position: relative;
        display: inline-block;
        max-width: 350px;
        top: -200px;
        left: -290px;

    }

    .check__card2 {
        padding: 28px 0 28px 28px;

    }

    .card2--title {
        font-size: 16px;
    }

    .cont__box {
        width: 320px;
        top: -25px;
    }

    .cont__box img {
        max-width: 100%;
    }

    .card2--text {
        font-size: 14px;

    }
}

// 990
@media screen and (max-width: 1066px) {


    .vidget__title {
        font-size: 24px;
        left: -10px;
    }

    .vidget__check__cont__cont {
        left: 31%;
    }

    .cont1__box {
        width: 500px;
    }


    .vidget__check__cont {
        max-width: 540px;
        top: -52px;
    }

    .dot__box {
        gap: 30px;
    }

    .dot__text,
    .mail__text {
        font-size: 14px;
    }

    .mail__box img {
        width: 20px;
    }

    .element--line {
        gap: 20px;
    }

    .time {
        margin-left: 10px;
    }

    .contact {
        margin-left: 75px;
    }

    .prize {
        margin-left: 77px;
    }

    .line__text {
        font-size: 12px;

    }

    .line__choosed {
        width: 480px;
        font-size: 10px;

    }

    .element__btn {
        padding: 5px 16px;
        font-size: 12px;

    }

    .button__box {
        gap: 10px;
    }

    .button__box img {
        width: 10px;
    }

    .element__btn__coosed {
        padding: 7px 17px;
        font-size: 12px;

    }

    .vidget__check--card2__cont {
        max-width: 300px;
        top: -182px;
        left: -240px;

    }

    .check__card2 {
        padding: 16px 0 16px 16px;
    }

    .card2--title {
        font-size: 14px;
    }

    .img--text img {
        width: 12px;
    }

    .cont__box {
        width: 280px;
        top: -22px;
    }

    .cont__box img {
        max-width: 100%;
    }

    .card2--text {
        font-size: 12px;

    }
}


@media screen and (max-width: 808px) {


    .vidget__title {
        font-size: 22px;
        left: -20px;
        max-width: 500px;
    }

    .vidget__check__cont__cont {
        position: relative;
        left: 50%;
        transform: translate(-47%);
        width: 1px solid red;
    }

    .cont1__box {
        width: 470px;
    }


    .vidget__check__cont {
        width: 500px;
        top: -45px;
    }

    .dot__box {
        gap: 20px;
    }

    .dot__text,
    .mail__text {
        font-size: 14px;
    }

    .mail__box {
        gap: 10px;
    }

    .mail--img {
        width: 13px;
    }

    .mail__box img {
        width: 20px;
    }

    .project {
        font-size: 15px;
        gap: 7px;
    }



    .element--line {
        gap: 15px;
    }

    .time {
        margin-left: 10px;
    }

    .contact {
        margin-left: 65px;
    }

    .prize {
        margin-left: 72 px;
    }



    .line__choosed {
        width: 440px;
        font-size: 10px;
    }

    .vidget__check--card2__cont {
        max-width: 300px;
        top: -135px;
        left: -35px;

    }

    .element__btn {
        padding: 6px 14px;
        font-size: 10px;


    }

    .element__btn__coosed {
        padding: 7px 15px;
        font-size: 10px;

    }

    .check__card2 {
        padding: 16px 0 16px 16px;
    }

    .card2--title {
        font-size: 14px;
    }

    .img--text img {
        width: 12px;
    }

    .cont__box {
        width: 280px;
    }

    .cont__box img {
        max-width: 100%;
    }

    .card2--text {
        font-size: 12px;

    }
}


@media screen and (max-width: 566px) {


    .vidget__title {
        font-size: 18px;
        padding-left: 50px;
    }

    .vidget__check__cont__cont {
        position: relative;
        left: 50%;
        transform: translate(-47%);
    }

    .cont1__box {
        width: 250px;
    }


    .vidget__check__cont {
        width: 272px;
        top: -25px;
    }

    .dot__box {
        gap: 10px;
    }

    .dot__text,
    .mail__text {
        font-size: 8px;
    }

    .mail__box {
        gap: 5px;
    }

    .mail--img {
        width: 10px;
    }

    .mail__box img {
        width: 10px;
    }

    .dot__box img {
        width: 4px;

    }

    .project {
        font-size: 10px;
        gap: 7px;
    }

    .top__elements {
        justify-content: space-between;
    }

    input {
        max-width: 80px;
        padding: 2px 0 2px 10px;
        font-size: 12px;
    }

    .element--line {
        gap: 8px;
    }

    .time {
        margin-left: 8px;
    }

    .contact {
        margin-left: 30px;
    }

    .prize {
        margin-left: 38px;
    }

    .line__text {
        font-size: 8px;

    }

    .line__choosed {
        width: 210px;
        font-size: 10px;
        padding: 12px 10px 12px 13px;
    }

    .element__btn {
        padding: 3px 6px;
        font-size: 8px;

    }

    .button__box {
        gap: 10px;
    }

    .button__box img {
        width: 7px;
    }

    .element__btn__coosed {
        padding: 5px 9px;
        font-size: 6px;

    }

    .tel {
        display: none;
    }


    .vidget__check--card2__cont {
        max-width: 230px;
        top: -120px;
        left: -20px;

    }

    .check__card2 {
        padding: 16px 0 16px 16px;
    }

    .card2--title {
        font-size: 12px;
    }

    .img--text img {
        width: 12px;
    }

    .cont__box {
        width: 210px;
        position: relative;
        top: -15px;
    }

    .cont__box img {
        max-width: 100%;
    }

    .card2--text {
        font-size: 9px;

    }
}