.watching {
  margin-top: 210px;
}
.watchin__wrap {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.watching__info__icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 16px;
}
.watching__info__icons--icon {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.watching__info__icons--text {
  color: var(--, #202020);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}
.watching__info__icons--title {
  color: #202020;
  font-size: 40px;
  font-weight: 400;
  width: 438px;
  margin-bottom: 16px;
  span {
    width: 438px;
    color: #fc8ad0;
    font-size: 40px;
    font-weight: 600;
    display: block;
  }
}
.watching__info__icons--text-2 {
  color: #202020;
  font-size: 20px;
  font-weight: 400;
  line-height: 130.5%; /* 26.1px */
  width: 456px;
}
.watching--img {
  max-width: 737.465px;
}
@media screen and (max-width: 1235px) {
  .watching {
    margin-top: 150px;
  }
  .watchin__wrap {
    flex-direction: column;
    gap: 52px;
  }
  .watching__info__icons--title {
    display: flex;
    gap: 1px;
    width: 100%;
    font-size: 30px;
    span {
      font-size: 30px;
    }
  }
  .watching__info__icons--text-2 {
    font-size: 20px;
    width: 699px;
  }
  .watching--img {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .watching {
    margin-top: 150px;
    .container{
        overflow: hidden;
    }
  }
  .watching__info {
    width: 100%;
  }
  .watchin__wrap {
    flex-direction: column;
    gap: 26px;
  }
  .watching__info__icons--icon {
    width: 40px;
    height: 40px;
  }
  .watching__info__icons--text {
    font-size: 20px;
  }
  .watching__info__icons--title {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 24px;
    span {
      font-size: 24px;
    }
  }
  .watching__info__icons--text-2 {
    font-size: 18px;
    max-width:300px !important;
  }
  .watching--img {
    margin: auto;
    width: 285px;
  }
}
@media screen and (max-width:355px) {
    .watching__info__icons--text-2{
        width: 250px;
    }
    .watching--img{
        width: 220px;
        margin: 0;
        text-align: start;
    }
}